:root {
  --primary-color: #39c;
  --secondary-color: #e91;

  --splash-color-a: var(--secondary-color);
  --splash-color-b: #e55;
  --splash-color-c: var(--primary-color);
  --splash-opacity: 50%;

  --bg-color-a: #f0f0f0;
  --bg-color-b: #f3f3ff;
  --bg-color-c: #fbfbffcc;
  --shadow-color: #fbfbff;

  --title-color: #334;
  --text-color: #445;
  --text-color-muted: #99a;

  --avatar-border-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --splash-opacity: 40%;

    --bg-color-a: #112;
    --bg-color-b: #091c26;
    --bg-color-c: #223c;
    --shadow-color: #001;

    --title-color: #dde;
    --text-color: #aab;
    --text-color-muted: #778;

    --avatar-border-color: #dde;
  }
}

:root {
  --gap-large: 1.35em;
  --gap-medium: 1em;
  --gap-small: 0.5em;

  --avatar-size: 6em;
  --title-size: var(--avatar-size);

  --shadow: 0.03em 0.03em 0.03em var(--shadow-color);

  --max-width: 940px;
  --columns: 3;
}

@media (max-width: 1000px) {
  :root {
    --columns: 2;
  }
}

@media (max-width: 576px) {
  :root {
    --title-size: calc(var(--avatar-size) * 0.75);
    --columns: 1;
  }
}

body {
  margin: 0 auto;
  padding: var(--gap-large) var(--gap-small);
  max-width: var(--max-width);

  color: var(--text-color);

  background: linear-gradient(
    30deg,
    var(--bg-color-a) 25%,
    var(--bg-color-b) 75%
  );

  font-family: "Inter", sans-serif;
  font-size: 12pt;
  font-optical-sizing: auto;

  display: grid;
  gap: var(--gap-large);
  align-items: center;

  grid-template-columns: var(--avatar-size) 1fr;
  grid-template-rows: var(--title-size) repeat(2, auto);
  grid-template-areas:
    "avatar title"
    ". contact"
    "content content";
}

@media (max-width: 576px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: var(--avatar-size) var(--title-size) repeat(2, auto);
    grid-template-areas:
      "avatar"
      "title"
      "contact"
      "content";
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;

  color: var(--primary-color);
  text-shadow: var(--shadow);

  font-family: "Jura", sans-serif;
  line-height: 1em;
  text-transform: uppercase;

  font-weight: 500;
  @media (max-width: 576px) {
    font-weight: 700;
  }
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  text-decoration: underline;
  text-decoration-style: dotted;
}

p,
ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

aside {
  color: var(--text-color-muted);
  font-style: italic;
  font-size: 0.8rem;
  line-height: 1.5em;
}

.amp {
  font-size: 82%;
}

.splash {
  --blur: 4em;
  --height: calc(var(--avatar-size) + var(--gap-large));

  position: absolute;
  top: calc(var(--blur) * -1);
  height: calc(var(--height) + var(--blur));
  left: 45%;
  width: 500px;

  background-image: linear-gradient(
    to right in hsl,
    transparent 0%,
    var(--splash-color-a) 20%,
    var(--splash-color-b) 40%,
    var(--splash-color-c) 95%,
    transparent 100%
  );

  filter: blur(var(--blur));
  opacity: var(--splash-opacity);

  z-index: -1;
  pointer-events: none;

  @media (max-width: 576px) {
    left: 0;
  }
}

.avatar {
  grid-area: avatar;
  height: var(--avatar-size);
  margin: 0 auto;

  border-radius: 50%;
  outline: calc(var(--avatar-size) / 40) solid var(--avatar-border-color);
  box-shadow: var(--shadow);
}

header {
  grid-area: title;

  h1 {
    font-size: calc(var(--title-size) * (2 / 3));
    color: var(--title-color);
  }

  h2 {
    font-size: calc(var(--title-size) * (1 / 3));
  }
}

@media (max-width: 576px) {
  header {
    text-align: center;
  }
}

nav {
  grid-area: contact;
  display: flex;
  flex-direction: column;

  font-family: "Jura", sans-serif;
  font-size: 1.1em;
  text-shadow: var(--shadow);

  a {
    color: var(--text-color);
  }

  ul {
    display: flex;
    flex-flow: row wrap;
    gap: var(--gap-small) var(--gap-large);
    line-height: 1em;

    svg {
      float: left;
      height: 1em;
      width: 1em;
      margin-right: var(--gap-small);
      fill: var(--secondary-color);
    }
  }
}

@media (max-width: 576px) {
  nav {
    font-size: 150%;
  }

  nav ul {
    align-self: center;

    li a,
    li span {
      display: none;
    }
  }
}

main {
  grid-area: content;

  display: grid;
  row-gap: calc(var(--gap-large) * 2);
  padding-top: var(--gap-large); /* double gap, including flex row gap */
  line-height: 1.5em;

  section {
    display: grid;
    grid-template-columns: 0.9em 1fr;
    gap: var(--gap-large);

    h3 {
      align-self: start;
      text-align: right;
      position: sticky;
      top: 0;

      padding-top: 0.5em;
      font-size: 90%;
      writing-mode: sideways-lr;
    }

    > div {
      display: flex;
      flex-direction: column;
      gap: var(--gap-large);
    }
  }
}

@media (max-width: 576px) {
  main section {
    gap: var(--gap-small);
  }
}

#skills .cards {
  grid-template-columns: repeat(var(--columns), 1fr);
}

#employment .cards {
  grid-template-columns: 1fr;
}

h4 {
  font-size: 110%;
  color: var(--secondary-color);
}

h6 {
  color: var(--text-color-muted);
  font-size: 75%;
  padding-top: 0.3em;
}

ul.tags {
  display: flex;
  flex-wrap: wrap;

  font-family: "Jura", sans-serif;
  font-size: 70%;
  font-weight: 700;
  text-transform: uppercase;

  li {
    margin: 0.15em;
    padding: 0.35em;
    line-height: 1em;

    border-radius: 0.25em;

    color: var(--primary-color);

    background: linear-gradient(
      -30deg,
      transparent -50%,
      var(--primary-color) 750%
    );

    text-shadow: var(--shadow);
    white-space: nowrap;
  }
}

ul.bullets {
  font-size: 85%;
  line-height: 1.5em;
  margin-left: var(--gap-small);

  li:before {
    margin-right: 0.5em;
    content: "•";
    color: var(--secondary-color);
  }
}

.cards {
  display: grid;
  gap: var(--gap-medium);

  .card {
    display: flex;
    flex-direction: column;
    row-gap: var(--gap-medium);
    padding: var(--gap-medium);

    border-radius: var(--gap-medium);
    background: var(--bg-color-c);

    :has(+ ul.tags) {
      flex-grow: 1;
    }

    ul.bullets {
      margin-left: 0;
    }
  }
}

.timeline {
  .org {
    padding: var(--gap-medium);
    border-radius: var(--gap-medium);
    background: var(--bg-color-c);
  }

  .role {
    display: flex;
    flex-direction: column;
    row-gap: var(--gap-medium);

    padding: var(--gap-medium);
    padding-left: var(--gap-medium);

    border-radius: var(--gap-medium);
    border-left: 0.25em solid var(--bg-color-c);

    h4 {
      color: var(--primary-color);
    }
  }

  .role + .org {
    margin-top: var(--gap-large);
  }

  .content {
    display: flex;
    flex-direction: column;
    row-gap: var(--gap-medium);
  }
}
