:root {
  --gap-sm: 0.4em;
  --gap-md: 1em;
  --gap-lg: 1.2em;

  --title-size: 6em;
  --avatar-size: var(--title-size);
  --avatar-border-size: 0.1em;
  --line-height: 1.5em;

  --columns: 3;

  --title: #334;
  --text: #445;
  --text-strong: #445;
  --text-weak: #99a;

  --color-a: #39c;
  --color-b: #e91;

  --bg-a: #fff;
  --bg-b: #eef;
  --bg-c: #e8f0ff;
  --shadow: #eef;

  --splash-a: #e91;
  --splash-b: #e55;
  --splash-c: #39c;
  --splash-opacity: 45%;

  --avatar-border: #f8f8ff;

  --text-shadow: 0.03em 0.03em 0.03em var(--shadow);
  --box-shadow: 0 0 var(--gap-sm) var(--bg-b);
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --title: #dde;
    --text: #aab;
    --text-strong: #ccd;
    --text-weak: #778;

    --bg-a: #112;
    --bg-b: #091c26;
    --bg-c: #223a;
    --shadow: #001;
  }
}

body {
  max-width: 1000px;
  margin: 0 auto;
  padding: var(--gap-md);

  display: grid;
  gap: var(--gap-lg);
  align-items: center;

  grid-template-columns: var(--avatar-size) 1fr;
  grid-template-rows: var(--title-size) repeat(2, auto);
  grid-template-areas:
    "avatar title"
    ". contact"
    "content content";

  color: var(--text);
  background: linear-gradient(30deg, var(--bg-a) 0%, var(--bg-b) 100%);
  background-attachment: fixed;

  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 12pt;
  font-optical-sizing: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;

  color: var(--color-a);
  text-shadow: var(--text-shadow);

  font-family: "Jura", sans-serif;
  font-weight: 600;
  line-height: 1em;
  text-transform: uppercase;

  a {
    text-decoration: none;
    color: inherit;

    svg {
      display: none;
      width: 0.7em;
      height: 0.7em;
      fill: var(--text-strong);
    }
  }

  a:hover {
    color: inherit;

    svg {
      display: inline;
    }
  }
}

h3 {
  font-size: 90%;
}

h4 {
  font-size: 110%;
  color: var(--color-b);
}

h5 {
  font-size: 100%;
}

h4 + h5 {
  padding-top: 0.2em;
}

h6 {
  padding-top: 0.3em;
  color: var(--text-weak);
  font-size: 75%;
}

a {
  text-decoration: underline;
  text-decoration-style: dotted;
  color: inherit;
}

a:hover {
  color: var(--text-strong);
}

strong {
  font-weight: 500;
  color: var(--text-strong);
}

p,
ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

aside {
  color: var(--text-weak);
  font-style: italic;
  font-size: 0.8rem;
  line-height: var(--line-height);
}

ul.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-sm) var(--gap-md);

  font-family: "Jura", sans-serif;
  text-shadow: var(--text-shadow);
  line-height: 1em;

  li {
    list-style: none;

    svg {
      float: left;
      height: 1em;
      width: 1em;
      fill: var(--color-a);
    }

    a {
      text-decoration: none;

      span {
        margin-left: var(--gap-sm);
      }
    }
  }
}

ul.tags {
  display: flex;
  flex-wrap: wrap;

  font-family: "Jura", sans-serif;
  font-size: 70%;
  font-weight: 700;
  text-transform: uppercase;

  li {
    list-style: none;

    margin: 0.15em;
    padding: 0.35em;
    line-height: 1em;
    border-radius: 0.25em;

    color: var(--color-a);
    background: linear-gradient(-30deg, transparent -50%, var(--color-a) 750%);
    text-shadow: var(--text-shadow);
    white-space: nowrap;
  }
}

ul.bullets {
  font-size: 85%;
  line-height: var(--line-height);
  padding-left: var(--gap-md);
  list-style-type: "•"; /* use custom bullet to eliminate default gap */

  li {
    padding-left: var(--gap-sm);
  }

  li::marker {
    color: var(--color-b);
  }
}

article,
section section {
  padding: var(--gap-md);
  border-radius: var(--gap-md);
  background: var(--bg-c);
  box-shadow: var(--box-shadow);

  display: flex;
  flex-direction: column;
  gap: var(--gap-md);

  > article {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
    break-inside: avoid;

    padding: var(--gap-md);
    border-radius: var(--gap-sm);
    background: linear-gradient(-30deg, transparent -50%, var(--bg-a) 300%);
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: var(--gap-md);

  > article {
    break-inside: avoid;

    :has(+ ul.tags),
    :has(+ ul.links) {
      flex-grow: 1;
    }

    ul.bullets {
      margin-left: 0;
    }

    ul.links {
      flex-direction: column;
    }
  }
}

.splash {
  --blur: 4em;

  position: absolute;
  top: calc(var(--blur) * -1);
  height: calc(var(--avatar-size) + var(--gap-lg) + var(--blur));
  left: 45%;
  width: 500px;
  z-index: -1;
  pointer-events: none;

  opacity: var(--splash-opacity);
  filter: blur(var(--blur));
  background-image: linear-gradient(
    to right in hsl,
    transparent 0%,
    var(--splash-a) 20%,
    var(--splash-b) 40%,
    var(--splash-c) 95%,
    transparent 100%
  );
}

.avatar {
  grid-area: avatar;
  height: var(--avatar-size);
  margin: var(--gap-sm) auto 0 auto;

  border-radius: 50%;
  outline: var(--avatar-border-size) solid var(--avatar-border);
  box-shadow: var(--box-shadow);
}

body > header {
  grid-area: title;

  h1 {
    font-size: calc(var(--title-size) * (2 / 3));
    color: var(--title);
  }

  h2 {
    font-size: calc(var(--title-size) * (1 / 3));
  }
}

nav {
  grid-area: contact;
  display: flex;
  flex-direction: column;
  font-size: 1.1em;

  ul.links li svg {
    fill: var(--color-b);
  }
}

main {
  grid-area: content;

  display: grid;
  gap: calc(var(--gap-lg) * 2);
  padding-top: var(--gap-lg);
  line-height: var(--line-height);

  > section {
    display: grid;
    grid-template-columns: 0.9em 1fr;
    gap: var(--gap-lg);

    break-inside: avoid;

    > header {
      align-self: start;
      text-align: right;
      padding-top: 0.5em;
      writing-mode: sideways-lr;
    }

    > div {
      display: flex;
      flex-direction: column;
      gap: var(--gap-lg);
    }
  }
}

.sensitive {
  display: none;
}

@media screen {
  article:target {
    scroll-margin-top: var(--gap-lg);
    box-shadow: 0 0 var(--gap-sm) var(--color-a);
  }

  main > section > header {
    position: sticky;
    top: 0;
  }

  @media (max-width: 992px) {
    :root {
      --columns: 2;
    }
  }

  @media (max-width: 768px) {
    :root {
      --title-size: 4.5em;
    }

    body {
      grid-template-columns: 1fr;
      grid-template-rows: var(--avatar-size) var(--title-size) repeat(2, auto);
      grid-template-areas:
        "avatar"
        "title"
        "contact"
        "content";
    }

    .splash {
      left: 0;
    }

    header {
      text-align: center;
    }

    nav {
      font-size: 150%;

      ul.links {
        align-self: center;

        a span {
          display: none;
        }
      }
    }
  }

  @media (max-width: 576px) {
    :root {
      --columns: 1;
    }

    body {
      padding: var(--gap-sm);
    }

    main section {
      gap: var(--gap-sm);
    }
  }
}

@page {
  size: a4 portrait;
  margin: 10mm;
}

@media print {
  :root {
    --gap-sm: 0.3em;
    --gap-md: 0.9em;
    --gap-lg: 1.1em;
    --line-height: 1.4em;

    --title: #000;
    --text: #333;
    --text-strong: #000;
    --text-weak: #777;

    --border-width: 0.3mm;
    --border-opacity: 30%;

    --text-shadow: none;
    --box-shadow: none;
  }

  body {
    margin: 0;
    padding: 0;
    max-width: 100%;

    font-size: 9pt;
    background: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }

  h4,
  h5 {
    font-size: 100%;
  }

  a {
    text-decoration: none;
  }

  .interactive,
  .splash {
    display: none;
  }

  ul.bullets {
    font-size: 8pt;
  }

  ul.tags {
    font-size: 6pt;
  }

  ul.tags li {
    background: none;
    border: var(--border-width) solid var(--bg-c);
  }

  article,
  section section {
    background: none;
    padding: var(--gap-sm);
  }

  section section > article {
    background: none;
    padding: var(--gap-md);
    border: var(--border-width) solid
      rgba(from var(--color-a) r g b / var(--border-opacity));
  }

  aside {
    font-size: 8pt;
  }
}
